/*
 * CSS for the example app
 */

/* Import the file built from CSS modules */
@import "../dist/main.css";

.explorer .elements:before {
  content: "\f121";
  font-family: FontAwesome;
  color: white;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
}
.explorer .kits:before {
  content: "\f0b1";
  font-family: FontAwesome;
  color: white;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
}
